<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vitriolic Cherry Pitt</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="container">
		<header>
			<nav class="navbar">
				<ul>
					<li class="menu"><a class="mlink" href="/VCP">Home</a></li>
					<li class="menu"><a class="mlink" href="/VCP/new">Add an article</a></li>
					<form action="/VCP" method="POST">
						<input type="text" name="title" placeholder="search">
						<button>Search</button>
					</form>
				</ul>
			</nav>
		</header>
		<h1>Articles</h1>
	<% display.forEach(function(page) { %>
		<h2>
			<ul>
				<li><a href="/VCP/<%= page.content_id %>"><%= page.title %></a></li>
			</ul>
		</h2>
	<% }) %>
	</div>
</body>
</html>