<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add content</title>
</head>
<body>
	<form action="/VCP/new" method="POST">
    <input type="text" name="username">
    <label for="username">: Name</label>
    <input type="text" name="title">
    <label for="title">: Title</label><br>
    <textarea name="article" placeholder="content here" cols="50" rows="50"></textarea>
    <label for="article">: Article</label>
    <button>Add Content!</button>
  </form>
</body>
</html>