body {
	background-color: black;
}

ul {
  list-style-type: none;
}

.row {
	border-left: solid grey 2px;
	border-right: solid grey 2px;
}

.top {
  text-align: center;
  color: maroon;
}

.footer {
  background-color: #2980b9;
}

.Atitle {
  color: white;
}

.heading {
  color: white;
}