body {
	background-color: black;
}

ul {
  list-style-type: none;
}

.row {
	border-left: solid grey 2px;
	border-right: solid grey 2px;
}

.full-width {
  border-left: none;
  border-right: none;
}

.top {
  text-align: center;
  color: maroon;
}

.footer {
  background-color: #FF6600;
}

.Atitle {
  color: white;
}

.heading {
  color: white;
}

.about {
  color: #B2B2B2;
}